#home-button {
    margin-left: 600px;
}

#reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 620px;
    height: 394px;
    left: calc(50% - 620px/2 - 0.5px);
    top: 200px;
    padding-left: 57px;
    padding-right:57px;
    padding-top: 25px;
    border: 1px solid rgba(142, 29, 255, 0.38);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.button-reg{
    margin-top: 32px;
}
